# Build results
Debug/
Release/
x64/
x86/
[Bb]uild/
[Oo]ut/

# Object files
*.obj
*.o
*.pch
*.pdb
*.ilk
*.idb
*.exp
*.lib
*.exe

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters

# ReSharper
_ReSharper*/

# JetBrains
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Excluded copyrighted assets and generated shortcuts
Resources/Image/
Resources/Sound/
Docs/Movie/
Docs/PPT/
Blas1_Clone.lnk
